[tool.poetry]
name = "feature-reviser"
version = "0.3.6"
description = "Construct and find the right features of your dataset for the right model."
authors = ["Christopher Lemke <chris@syhbl.mozmail.com>"]
license = "MIT"
repository = "https://github.com/chrislemke/feature-reviser"
documentation = "https://chrislemke.github.io/feature-reviser/"
readme = "docs/README.md"
packages = [{ include = "feature_reviser" }]
classifiers = [
    "Topic :: Scientific/Engineering :: Artificial Intelligence",
    "Topic :: Scientific/Engineering :: Information Analysis",
    "Intended Audience :: Science/Research",
]
keywords = [
    "feature selection",
    "feature engineering",
    "preprocessing",
    "scikit-learn",
    "pipelines",
    "pandas",
    "machine learning",
    "data science"
]

[tool.poetry.dependencies]
python = ">=3.8,<3.11"
joblib = "^1.2.0"
numpy = "^1.23.3"
scikit-learn = "^1.1.2"
pandas = "^1.5.0"
feature-engine = "^1.4.1"
phonenumbers = "^8.12.56"


[tool.poetry.group.dev.dependencies]
bandit = "^1.7.4"
black = "^22.8.0"
isort = "^5.10.1"
mkdocs = "^1.3.1"
mkdocstrings = "^0.18.1"
mkdocs-material = "^8.5.3"
mypy = "^0.971"
pre-commit = "^2.20.0"
pylint = "^2.15.3"
pytest = "^7.1.3"
pytest-cov = "^3.0.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
profile = "black"

[tool.mypy]
strict = true
disallow_subclassing_any = false
ignore_missing_imports = true
disallow_any_generics = false
warn_return_any = false
exclude = ["tests/*", "docs/*"]

[tool.pytest.ini_options]
minversion = "7.1.3"
testpaths = ["tests"]

[tool.pylint.messages_control]
disable = [
    "C0301",
    "C0114",
    "C0103",
    "E0401",
    "R0801",
    "R0902",
    "R0903",
    "R0913",
    "R0914",
    "R0915",
]

[tool.pylint.format]
max-line-length = 88
