[tool.poetry]
name = "feature-reviser"
version = "0.2"
description = "Find the right features of your dataset for the right model."
authors = ["Christopher Lemke <chris@syhbl.mozmail.com>"]
license = "MIT"
homepage = "https://chrislemke.github.io/feature-reviser/"
repository = "https://github.com/chrislemke/feature-reviser"
documentation = "https://chrislemke.github.io/feature-reviser/"
readme = "README.md"
keywords = ["feature selection", "feature engineering", "preprocessing", "scikit-learn", "pandas", "machine learning"]
packages = [{ include = "feature_reviser" }]
classifiers = [
    "Topic :: Scientific/Engineering :: Artificial Intelligence",
    "Topic :: Scientific/Engineering :: Information Analysis",
    "Intended Audience :: Science/Research",
]


[tool.poetry.dependencies]
python = ">=3.9,<3.11"
scikit-learn = "^1.1.2"
joblib = "^1.2.0"
pandas = "^1.5.0"
numpy = "^1.23.3"
sklearn-pandas = "^2.2.0"
feature-engine = "^1.4.1"


[tool.poetry.dev-dependencies]
black = {extras = ["jupyter"], version = "^22.3.0"}
isort = "^5.10.1"
pylint = "^2.13.9"
mypy = "0.942"
pre-commit = "^2.19.0"
mkdocs = "^1.3.1"
mkdocs-material = "^8.5.2"
mkdocstrings = "^0.18.1"
pytest = "^7.1.3"
bandit = "^1.7.4"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
profile = "black"

[tool.mypy]
strict = true
disallow_subclassing_any = false
ignore_missing_imports = true
disallow_any_generics = false
warn_return_any = false
exclude = ["tests/*", "docs/*"]

[tool.pytest.ini_options]
minversion = "7.1.3"
testpaths = ["tests"]

[tool.pylint.messages_control]
disable = [
    "C0301",
    "C0114",
    "C0103",
    "E0401",
    "R0801",
    "R0902",
    "R0913",
    "R0914",
    "R0915",
]

[tool.pylint.format]
max-line-length = 88
