name: DeployPackage

on:
  push:
    branches: [main]

jobs:
  deploy-package:
    name: Deploy package to PyPI
    if: |
      ${{ startsWith(github.event.head_commit.message, 'chore(main)') &&
      startsWith(github.head_ref, 'release-please--branches--main') }}
    runs-on: ubuntu-latest
    environment: deploy-package
    steps:
      - uses: actions/checkout@v2
      - name: Install poetry
        run: |
          curl -O -sSL https://install.python-poetry.org/install-poetry.py
          python install-poetry.py -y --version 1.3.1
          echo "PATH=${HOME}/.poetry/bin:${PATH}" >> $GITHUB_ENV
          rm install-poetry.py
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          cache: "poetry"
      - run: poetry env use python3.10
      - run: poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
      - run: poetry publish --build
